
<script src="/static/js/saltstack/deploy/jquery.peity.min.js"></script>
<script src="/static/js/saltstack/deploy/jquery.dataTables.min.js"></script>
<script src="/static/js/saltstack/deploy/dataTables.bootstrap.js"></script>
<script src="/static/js/saltstack/deploy/bootstrap-table.min.js"></script>
<!-- jQuery  -->
<script src="/static/js/saltstack/deploy/jquery.waypoints.js"></script>
<script src="/static/js/saltstack/deploy/jquery.counterup.min.js"></script>
<script src="/static/js/saltstack/deploy/raphael-min.js"></script>
<script src="/static/js/saltstack/deploy/jquery.knob.js"></script>
<script src="/static/js/saltstack/deploy/jquery.bs-table.js"></script>

<script src="/static/js/saltstack/deploy/notify.min.js"></script>
<script src="/static/js/saltstack/deploy/notify-metro.js"></script>


<script src="/static/js/saltstack/deploy/jquery.core.js"></script>
{#<script src="/static/js/saltstack/deploy/jquery.app.js"></script>#}

<script type="text/javascript">
jQuery(document).ready(function($) {
    $('.counter').counterUp({
        delay: 100,
        time: 1200
    });

    $(".knob").knob();

});
</script>



