<script src="/static/js/saltstack/modernizr.min.js"></script>
<script>
	var resizefunc = [];
</script>
<!-- jQuery  -->
<script src="/static/js/saltstack/deploy/jquery.app.js"></script>
{#<script src="/static/js/saltstack/jquery.min.js"></script>#}
<script src="/static/js/saltstack/bootstrap.min.js"></script>
<script src="/static/js/saltstack/detect.js"></script>
<script src="/static/js/saltstack/fastclick.js"></script>
<script src="/static/js/saltstack/jquery.slimscroll.js"></script>
<script src="/static/js/saltstack/jquery.blockUI.js"></script>
<script src="/static/js/saltstack/waves.js"></script>
<script src="/static/js/saltstack/wow.min.js"></script>
<script src="/static/js/saltstack/jquery.nicescroll.js"></script>
<script src="/static/js/saltstack/jquery.scrollTo.min.js"></script>

