
<link href="/static/css/saltstack/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/css/saltstack/core.css" rel="stylesheet" type="text/css" />
<link href="/static/css/saltstack/components.css" rel="stylesheet" type="text/css" />
<link href="/static/css/saltstack/icons.css" rel="stylesheet" type="text/css" />
<link href="/static/css/saltstack/pages.css" rel="stylesheet" type="text/css" />
<link href="/static/css/saltstack/responsive.css" rel="stylesheet" type="text/css" />
<link href="/static/css/saltstack/statusecho.css" rel="stylesheet" type="text/css" />